{% extends "core/master.html" %}
{% block content %}
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white font-semibold text-xl md:text-5xl mb-6">🎲What we gamin'?🎮</h1>
        <div class="md:grid md:grid-cols-2 justify-center items-center">
            <a href="{{ game.url }}">
                <div class="w-full h-full overflow-hidden flex justify-center items-center rounded-t-xl md:rounded-none md:rounded-l-xl bg-stone-700 hover:bg-orange-900/50 ease-in duration-200">
                    <img src="{{ game.image_url }}"
                         onerror="this.src='https://http.cat/404';"
                         class="w-auto" />
                </div>
            </a>
            <div class="p-4 bg-purple-950 rounded-b-xl md:rounded-none md:rounded-r-xl w-full h-full text-center">
                <h2 class="text-xl text-gray-200">
                    <u>{{ game.name }}</u>
                </h2>
                <p class="text-gray-200 text-sm">{{ game.version_title }}</p>
                <p class="text-gray-200 mt-6">{{ game.summary }}</p>
            </div>
            {% if game.theme_names or game.genre_names %}
                <div class="bg-fuchsia-900/50 rounded-lg flex gap-4 flex-wrap p-2 justify-center mt-2 col-span-2">
                    {% for theme in game.theme_names %}
                        <p class="bg-fuchsia-600 rounded-xl text-gray-200 p-2 text-sm">{{ theme }}</p>
                    {% endfor %}
                    {% for theme in game.genre_names %}
                        <p class="bg-indigo-600 rounded-xl text-gray-200 p-2 text-sm">{{ theme }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if game.mode_names %}
                <div class="bg-orange-900/50 rounded-lg flex gap-4 flex-wrap p-2 justify-center mt-2 col-span-2">
                    {% for mode in game.mode_names %}
                        <p class="bg-orange-600 rounded-xl text-gray-200 p-2 text-sm">{{ mode }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if game.storyline %}
                <div class="text-gray-200 bg-fuchsia-950 rounded-md p-2 col-span-2 flex flex-col items-center mt-2">
                    <p class="text-gray-200 rounded-md p-2 col-span-2">Storyline</p>
                    <p class="text-sm">{{ game.storyline }}</p>
                </div>
            {% endif %}
            {% if game.screenshots_urls %}
                <div class="bg-indigo-900/50 rounded-lg flex flex-col items-center justify-center w-full col-span-2 mt-2 p-2">
                    <p class="text-gray-200 rounded-md p-2 mt-2">Screenshots</p>
                    <div class="bg-indigo-900/50 rounded-lg flex flex-wrap justify-center gap-4 p-2 col-span-2 w-full">
                        {% for shot in game.screenshots_urls %}
                            <div class="bg-fuchsia-600/50 rounded-md text-gray-200 p-1 text-sm">
                                <img src="{{ shot }}"
                                     onerror="this.src='https://http.cat/404';"
                                     class="w-full h-full" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if game.video_url %}
            <div class="w-full h-full flex items-center justify-center mt-2">
                <iframe width="560"
                        height="315"
                        src="{{ game.video_url }}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        {% endif %}
        {% if game.artwork_urls %}
                <div class="bg-indigo-900/50 rounded-lg flex flex-col items-center justify-center w-full col-span-2 mt-2 p-2">
                    <p class="text-gray-200 rounded-md p-2 mt-2">Artworks</p>
                    <div class="bg-indigo-900/50 rounded-lg flex flex-wrap justify-center gap-4 p-2 col-span-2 w-full">
                        {% for shot in game.artwork_urls %}
                            <div class="bg-fuchsia-600/50 rounded-md text-gray-200 p-1 text-sm">
                                <img src="{{ shot }}"
                                     onerror="this.src='https://http.cat/404';"
                                     class="w-full h-full" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock content %}
