<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="An app to help me and my friends decide what to play" />
        <meta name="keywords" content="django, games, developer, portfolio" />
        <title>what we gamin'?</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div style="min-height: 100vh;" class="bg-gradient-to-br from-fuchsia-950 via-blue-800 to-indigo-900 p-12 min-h-full">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>